/libwebp-0.4.1
/CMakeFiles
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/libwebp-0.4.1.tar.gz
/pom.xml.bak
/.settings/
/.project
/.classpath
/libwebp-0.4.2
/target
/src/main/include/webp/*
/src/main/c/*/*.c
